@import '../../utils/styles/scss/utils/variables';
@import '../../utils/styles/scss/utils/mixins';

.homeHeader {
  display: flex;
  flex-flow: wrap;
  position: relative;
  background: url('../../assets/articlebg.webp') no-repeat  center;
  background-size: cover;
  margin-bottom: 2em;
  box-shadow: $boxShadowCard;
  color: $colorTertiary;
}

.homeHeaderContainer {
  display: flex;
width: 100%;
  padding: 1em;
}

.showUser {
  @media(max-width: $breakpointMobile) {
    margin-top: 1em;
  }
  display: flex;
  gap: 1em;
  align-items: center;
  width: 25%;
}

.showUser__pp {
  @media(max-width: $breakpointMobile) {
    display: none;
  }
  @media(max-width: $breakpointTablet) {
    width: 50px;
    height: 50px;
  }
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $colorTertiary;
  &:hover {
    cursor: pointer;
  }
}

.showUser__name {
  @media(max-width: $breakpointMobile) {
    display: none;
  }
  text-align: center;
  font-size: 1.2em;
  min-width: fit-content;
  &:after {
    @media(max-width: $breakpointTablet) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    content: '';
    display: flex;
    margin-top: 0.5em;
    background: #fd2d01;
    width: 100%;
    height: 0.5vh;
    border-radius: 8px;
  }
}

.homeMain__fig {
  @media(max-width: $breakpointMobile){
    margin-bottom: 1em;
  }
  overflow-x: hidden;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.homeMain__fig__logo {
  @media(max-width: $breakpointMobile){
    width: 50px;
    height: 50px;
  }
  object-fit: contain;
}
