.postFlow__container{
  position: relative;
}

.postFlow__container__header__iconContainer{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  &__icon{
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.likeIcon {
  position: absolute;
  top: 40%;
  left: 1.8em;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.1)
  }
}

.likeIcon__number{
  position: absolute;
  top: 40%;
  left: 3.8em;
  font-size: 1em;
}

.dislikeIcon {
  position: absolute;
  top: 41%;
  left: 8%;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.1)
  }
}

.dislikeIcon__number{
  position: absolute;
  top: 40%;
  left: 10.5%;
  font-size: 1em;
}