@import '../../utils/styles/scss/utils/variables';

.footerContainer{
  margin-top: 3em;
  width: 100%;
  background: $colorTertiary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer__fig__img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}