@import '../../utils/styles/scss/utils/variables';
@import '../../utils/styles/scss/utils/mixins';

.homeMain {
  position: relative;
  z-index: 0;
  height: border-box;
  display: flex;
}

.sectionMain {
  @media(max-width: $breakpointMobile) {
    background: none;
  }
  @media(max-width: $breakpointTablet) {
    background: none;
    margin: auto;
    width: 90%;
    padding: 0;
  }
  width: 50%;
  border-radius: 8px;
  background: rgba(78, 81, 102, .7);
  box-shadow: $boxShadowCard;
  padding: 1em;
}

.homeMain__fig__logo {
  width: 400px;
  margin: auto;
}

.sectionNavMenu{
  @media(max-width: $breakpointTablet) {
    width: 0;
  }
  width: 25%;
}


.sectionUserList{
  @media(max-width: $breakpointTablet) {
    display: none;
  }
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}

