@import '../../utils/styles/scss/utils/variables';
@import '../../utils/styles/scss/utils/mixins';

.homeMain {
  border-radius: 2em;
  background: url('../../assets/appbackground.webp') no-repeat fixed center;
  background-size: cover;
  position: relative;
  z-index: 0;
  height: border-box;
  display: flex;
  box-shadow: $boxShadowCard;
}

.sectionMain {
  width: 100%;
  margin: 0 10% 0 10%;

}
.homeMain__fig__logo {
  width: 400px;
  margin: auto;
}
