.homeMain {
  border-radius: 2em;
  background: url('../../assets/appbackground.webp') no-repeat fixed center;
  background-size: cover;
  position: absolute;
  z-index: 0;
  min-height: 100%;
  height: border-box;
  display: flex;
}

.sectionMain {
  width: 100%;
  margin: 0 10% 0 10%;

}
.homeMain__fig__logo {
  width: 400px;
  margin: auto;
}
