// responsive breakpoints
$breakpointMobile: 768px;

// website colors
$colorPrimary: #FD2D01;
$colorSecondary: #FFD7D7;
$colorTertiary: #4E5166;

// boxShadow
$boxShadowCard: rgb(0 0 0 / 16%) 1px 1px 10px;

// border
$borderCard: 2px solid $colorTertiary;;

//