// responsive breakpoints
$breakpointMobile: 768px;

// website colors
$colorPrimary: #ffd7d7;
$colorSecondary: #ffd7d7;
$colorTertiary: #4e5166;

// boxShadow
$boxShadowCard: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
// border
$borderCard: 2px solid $colorTertiary;
