@import '../../utils/styles/scss/utils/variables';

.auth {
  @media (max-width: $breakpointMobile) {
    position: unset;
    display: flex;
    margin: auto;
  }
  position: absolute;
  z-index: 999;
  width: 350px;
  top: 20%;
  left: 20%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-flow: column;
  background: $colorSecondary;
  border: $borderCard;
  border-radius: 1em;
  color: $colorTertiary;
}

.auth__header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.5em;
  &:after {
    content: '';
    display: flex;
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
    background: #fd2d01;
    width: 100%;
    height: 0.5vh;
    border-radius: 8px;
  }
}
.auth__header__title {
  width: 48%;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: rgba(78, 81, 102, 0.72) 3px 3px 6px 0px inset,
    rgba(78, 81, 102, 0.07) -3px -3px 6px 1px inset;
}

.auth__header__btn {
  align-items: center;
  background-color: $colorSecondary;
  border: $borderCard;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  line-height: 24px;
  width: 48%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  &:hover {
    outline: 0;
  }
  &::after {
    content: '';
    background-color: $colorTertiary;
    border-radius: 8px;
    display: block;
    height: 2.2em;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 200ms ease-out;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(0, 0);
  }

  &:active::after {
    background-color: #ffdeda;
    outline: 0;
  }
}

.auth__body__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  &__container {
    margin-bottom: 2em;
  }
}

.formLabel {
  min-width: 100%;
}

.formInput {
  min-width: 100%;
  height: 2.3em;
  margin-top: 1em;
  text-align: center;
  border-radius: 2px;
}

.auth__body__form__error {
  color: #ff0000;
  text-align: center;
  margin-top: 2rem;
}

.auth__body__form__submit {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffd7d7 0,
    #fd2d01 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  list-style: none;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  height: 3em;
  padding: 1.5em;
  margin-bottom: 1em;
  &:focus {
    box-shadow: #fd2d01 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fd2d01 0 -3px 0 inset;
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fd2d01 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: #fd2d01 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.createAccount {
  display: flex;
  color: $colorTertiary;
  justify-content: center;
  gap: 1em;
  &__create {
    color: #0645AD;
    cursor: pointer;
  }
}
