@import '../../utils/styles/scss/utils/variables';
@import '../../utils/styles/scss/utils/mixins';

.navMenuModal{
  @media(max-width: $breakpointMobile) {
    position: absolute;
    z-index: 999;
    display: none;
  }
  cursor: pointer;
  margin-left: 2em;
  margin-top: 2em;
  position: sticky;
  top: 1em;
  left: 0;
  &:hover {
    .navMenuModal__icon{
      display: none;
    }
    .navMenuContainer {
      transform: translateX(0);
    }
  }
}

.navMenuModal__icon {
  cursor: pointer;
}

.navMenuContainer {
  width: 80%;
  position: sticky;
  top: 1em;
  left: 0;
  padding: 1em;
  background: $colorSecondary;
  border-radius: 8px;
  box-shadow: $boxShadowCard;
  display: flex;
  flex-flow: column;
  align-items: center;
  transform: translateX(-400%);
  transition: All 300ms ease-out;
}

.navMenuContainer__title {
  text-align:center;
   margin-bottom: 2em;
  font-size: 1.5em;
  &:after {
    content: '';
    display: flex;
    margin: auto;
    margin-top: .5em;
    background: #fd2d01;
    width: 100%;
    height: 0.5vh;
    border-radius: 8px;
  }
}


.navMenu__buttonContainer{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
}

.navMenuContainer__settings {
  @include menuButton;
  width: fit-content;
  height: 35px;
  display: flex;
}