@import '../../utils/styles/scss/utils/variables';
@import '../../utils/styles/scss/utils/mixins';

.userListContainer__icon--title {
  display: flex;
  margin: auto;
  font-size: 1em;
  cursor: pointer;
}

.userListContainer {
  @media (max-width: $breakpointMobile) {
    display: none;
  }
  width: 80%;
  display: flex;
  flex-flow:  wrap;
  align-self: center;
  position: sticky;
  top: 5em;
  right: 0;
  padding: 1em;
  background: $colorSecondary;
  margin-top: 5em;
  border-radius: 8px;
  border: 2px solid $colorTertiary;
  box-shadow: $boxShadowCard;
  color: $colorTertiary;
  font-size: 1.1em;
  white-space: nowrap;
}
.userListContainer__ul--alt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.userListContainer__ul {
  display: flex;
}

.userListContainer__ul__list {
  display: flex;
  gap: 0.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.online {
  background: #45d53f;
  width: 14px;
  height: 10px;
  border-radius: 50%;
}

.offline {
  background: #c70039;
  width: 14px;
  height: 10px;
  border-radius: 50%;
}

.userListContainer__ul__list__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1em;
  border: 2px solid $colorTertiary;
}

.userListContainer__ul__list__name {
  width: 50%;
}
